html {
  margin: 0;
}
body {
  background-color: lightgray;
}
.checkers-game{
  margin: auto;
  width: 35rem;
  height: 44rem;
  border: 3px solid gray;
  border-radius: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.game-title{
  justify-content: center;
  display: flex;
  font-size: xx-large;
  color: black;
  font-weight: bold;
  align-items: center;
  margin-left: 1rem;
}
.game-form{
  width: 32rem;
  border: 1px solid;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 15px auto;
  height: 5rem;
}
.game-board{
  width: 32rem;
  border: 1px solid;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  height: 32rem;
  flex-direction: column;
}
img{
  width: 3rem;
  height: 3rem;
}
.game-header{
  display: flex;
  justify-content: center;
}
.fields{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
button{
  width: 5rem;
  height: 1.2rem;
  background-color: lightgray;
  margin-left: 1rem;
}
input {
  width: 4rem;
}
label{
  display: inline-block;
  width: 7rem;
}
.field{
  /* margin: 1rem; */
}
.row{
  border: 1px solid;
  display: flex;
  flex-direction: row;
  height: 4rem;
}
.cell{
  width: 4rem;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
}
.soldier {
  width: 3rem;
  height: 3rem;
  border: 3px solid;
  border-radius: 50%;
  background-color: darkolivegreen;;
}